<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a59124.thesolutionfromyicheng">

    <application
        android:allowBackup="true"
        android:icon="@drawable/img_0"
        android:label="Problem Description"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProblemDescription">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TheSolution"
            android:label="Result">
        </activity>
    </application>

</manifest>