@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
        primary: md-get-palette-color(yellow, A700), // The primary color of your application
        accent: md-get-palette-color(Lime, A200), // The accent or secondary color
        theme:dark
));

@include md-register-theme("default-light", (
        primary: md-get-palette-color(yellow, A700), // The primary color of your application
        accent: md-get-palette-color(Lime, A200), // The accent or secondary color
        theme:light
));

@import "~vue-material/dist/theme/all"; // Apply the theme
@import url('https://fonts.lug.ustc.edu.cn/icon?family=Material+Icons');
